html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.5em;
}
body {
  background-color: #3e506d;
}

canvas {
  background-color: aliceblue;
}

.headers {
  color:#ffd800;
}

.drawmie-input {
  text-align: center;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
  margin-left: 105px !important;
}

.drawmie-join {
  margin-top: 25%;
}

.drawmie-button {
  margin-top: 10%;
  margin-left: 10%
}

.drawmie-title {
  font-family: 'Permanent Marker', cursive;
}
